@font-face {
    font-family: Iosevka SS01 Medium;
    src: url(/font/iosevka-ss01-medium.ttf);
}

html,
body {
    background-color: #131213;
    color: white;
    margin: 0;
    padding: 0;
}

.loading-screen {
    position: relative;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    background-color: #ffffff;
    width: 0%;
    height: 100%;
}

.load-container.from-left {
    flex-direction: column;
}

.load-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 10;
    pointer-events: none;
    display: flex;
}

.logo1 {
    top: 38%;
    left: 50%;
    font-size: 84px;
    display: flex;
}

h1 {
    font-family: Iosevka SS01 Medium;

}

/* .title {
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, 50%);
    font-size: 84px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
} */

.button {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button a {
    font-family: Iosevka SS01 Medium;
    text-decoration: none;
    color: aliceblue;
    background-color: #131213;
    padding: 24px 40px;
    letter-spacing: 4px;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid white;
}

.button:hover a {
    background-color: aliceblue;
    color: #131213;
    border: 1px solid white;
}

.container {
    position: relative;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.toppanel {
    height: 100vh;
    background-color: #131213;
}

.bottompanel {
    height: 100vh;
    background-color: #131213;
}

.button1 {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-108px, 143px);
    display: flex;
}

.button1 h1 {
    font-family: Iosevka SS01 Medium;
    text-decoration: none;
    color: aliceblue;
    /* background-color: #131213; */
    padding: 24px 40px;
    letter-spacing: 4px;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid white;
}

/* .button1:hover a {
    background-color: aliceblue;
    color: #131213;
    border: 1px solid white;
} */

/* .bottompanel2 {
    height: 100vh;
    background-color: #6d28d9;
} */

/* transition animation CSS*/
.transition-container {
    position: fixed;
    left: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 10;
    pointer-events: none;
}

.transition-container span {
    position: relative;
}

.transition-container.from-left {
    flex-direction: column;
}

/* IT GIVES THE SPANS A BACKGROUND COLOR*/
.transition-container.from-left span {
    background: rgb(240, 240, 240);
    height: 100%;
    width: 0%;

}

button {
    font-family: Iosevka SS01 Medium;
    text-decoration: none;
    color: aliceblue;
    background-color: #131213;
    padding: 24px 40px;
    letter-spacing: 4px;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid white;
}

button:hover {
    background-color: aliceblue;
    color: #131213;
    border: 1px solid white;
}

video#bgvideo {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 50%;
    min-height: 50%;
    width: 50%;
    height: 50%;
    z-index: 2;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
}

.logo1,
.button1 {
    z-index: 99999;
}